.bgPage{
  background-color: #e8e8e8;
  color: rgb(97, 74, 119);
}

.submitBtn{
background-color: red;
border-radius: 10px;
border: 2px solid brown;
}

.ng-touched .ng-invalid{
border:1px solid red;
}
