@import '~bootstrap-icons/font/bootstrap-icons.css';

.bgPage{
  background-color: #e8e8e8;
  color: rgb(97, 74, 119);
}

.submitBtn{
background-color: red;
border-radius: 10px;
border: 2px solid brown;
color: black;
}

.ng-touched .ng-invalid{
border:1px solid red;
}
.plus{
font-size: 26px;
font-weight: bolder;
}

.ResetBtn{
background-color: chartreuse;
color: black;
border-radius: 10px;
border: 2px solid brown;
}
